<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="URL" value="http://dummy.restapiexample.com/api/v1"/>
    <add key="amount" value="6"/>
    <add key="employee_name" value="e_test"/>
    <add key="employee_salary" value="60"/>
    <add key="employee_age" value="20"/>
    <add key="profile_image" value=""/>
    <add key="name" value="test"/>
    <add key="salary" value="321"/>
    <add key="age" value="18"/>
  </appSettings>
</configuration>